.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.component-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 2.5%;
  width: 85%;
  border-radius: 15px;
  background-color: var(--red);
  font-size: 22px;
  font-weight: bold;
  font-family: var(--app-main-font);
  color: var(--soft-white);
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  display: none;
}
