.input-container {
  margin: 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
}

label {
  margin-bottom: 5px;
  font-family: var(--app-main-font);
  font-size: 18px;
}

input {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 12px 10px;
  font-family: var(--app-main-font);
  font-size: 18px;
}

@media only screen and (max-width: 400px) {
  .input-container {
    max-width: 94%;
  }
}