h2 {
  margin-top: 1.25%;
  text-align: center;
  font-family: var(--app-main-font);
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5%; 
  padding: 10px;
  width: 58.75%;
}

.page-infos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 41.25%;
}