.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.main {
  margin: 10px;
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 26px;
  font-family: var(--app-main-font);
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.login-form {
  border: 2px solid var(--soft-white);
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
}

.alternatives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 7px;
  font-size: 18px;
  font-family: var(--app-main-font);
}

a {
  color: var(--soft-white)
}

@media only screen and (max-width: 400px) {
  .container {
    max-width: 93.5%
  }
}
