.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 10px;
  max-width: 400px;
}

.title {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

  margin-bottom: 10px;
  text-align: center;
}

.register-form {
  border: 2px solid black;
  border-radius: 10px;

  padding: 15px 10px;
  margin-bottom: 10px;
}

/* .alternatives {
  max-width: 400px;
  padding: 2px 7px;
}

.alternatives > .register {
  float: right;
}

.alternatives > .forgot-password {
  float: left;
} */

/* .alternatives {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px
} */
